@page "/pagamento"
@using EcommerceWeb.Pages.Login

@inject NavigationManager _navigation

<AuthorizeView>
    <Authorized>
        <link href="stylePayment.css" rel="stylesheet" />

        <div class="container p-0">
            <div class="card px-4">
                <p class="h8 py-3">Payment Details</p>
                <div class="row gx-3">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Person Name</p>
                            <input class="form-control mb-3" type="text" placeholder="Name" @bind-value="payment.Nome">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Card Number</p>
                            <input class="form-control mb-3" type="text" placeholder="1234 5678 435678" @bind-value="payment.Numero">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Expiry</p>
                            <input class="form-control mb-3" type="text" placeholder="MM/YYYY" @bind-value="payment.Validade">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            <input class="form-control mb-3 pt-2 " type="password" placeholder="***" @bind-value="payment.Cvv">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary mb-3">
                            <span @onclick="TesteConfirmacao" class="ps-3">Pay </span>
                            <span class="fas fa-arrow-right"></span>
                            @if (Loading)
                            {
                                <Spinner />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>

        <Login IsRedirectToCheckout=true>

        </Login>

    </NotAuthorized>

</AuthorizeView>


@code {
    PaymentViewModel payment { get; set; } = new();
    public bool Loading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    public async void TesteConfirmacao()
    {
        Loading = true;
        await Task.Delay(4000).ContinueWith(_ => Loading = false);
        _navigation.NavigateTo("/paymentSucess");
        StateHasChanged();

    }
}
