@page "/logout"
@using EcommerceTShoes.Services.Interfaces;

@inject IUsuarioService _service
<h1>deslogado</h1>

<span>@msg</span>


@code {
    public string msg { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await _service.Logout();
            msg = "deu certo";
        }
        catch (Exception e)
        {
            msg = "Deu errado";
        }
    }
}
