@using EcommerceWeb.Views.Nav
@using EcommerceWeb.Views.Roles
@inherits LayoutComponentBase

<div class="content">
    <NavTShoes />
    @Body
</div>
<TokenExpirationChecker />

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}