@inherits ComponentBase

@inject NavigationManager _navigation

<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carrinho</h5>
                <button type="button" class="close" @onclick="@(async () => await VisibleModalCallback.InvokeAsync())">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:@color[1]">@Mensagem</p>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="@VisualizarCarrinho" class="btn btn-primary">Visualizar o carrinho</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string[] color { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string Mensagem { get; set; }

    [Parameter]
    public EventCallback VisibleModalCallback { get; set; }

    public void VisualizarCarrinho()
    {
        _navigation.NavigateTo("https://localhost:44380/Carrinho");
    }
}



