<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light" id="sidebar">
            <div class="sidebar-heading">Minha Sidebar</div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Página Inicial</span>
                </a>
                <a href="/perfil" class="list-group-item list-group-item-action">
                    <i class="bi bi-person-fill"></i>
                    <span>Perfil</span>
                </a>
                <a href="/configuracoes" class="list-group-item list-group-item-action">
                    <i class="bi bi-gear-fill"></i>
                    <span>Configurações</span>
                </a>
                <a href="/sair" class="list-group-item list-group-item-action">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sair</span>
                </a>
            </div>
        </div>

        <div class="col-10" id="content">
            <h1>Página inicial</h1>
            <p>Conteúdo da página inicial.</p>
        </div>
    </div>
</div>

<style>
    #sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .sidebar-heading {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .list-group-item {
        display: flex;
        align-items: center;
    }

        .list-group-item i {
            margin-right: 10px;
        }
</style>
